@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

body{
    font-family: sans-serif;
    background: linear-gradient(to right, #4d0e0e,  #060205);
}

.top{
    margin-left: 6vw;
}

.title{
    font-family: Koulen;
    font-size: 6vh;
    color: red;
    margin-bottom: 1vh;
}

.flex-sort{
    display: flex;
    gap: 8px;
}

.movie-list{
    margin-top: 2vw;
}

.status{
    margin-top: 10vh;
    color: white;
    font-size: 2em;
}

.movies{
    margin-top: 4vh;
    display: flex;
    gap: 4vw;
    justify-content: center;
    flex-wrap: wrap; 
    @media (max-width: 800px) {
        flex-direction: column;
    }
}
