.movie{
background-color: rgb(248, 223, 223);

  transition: 0.3s;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
  min-width: 12vw;
 
  &:hover{
    @media (min-width: 800px) {
        transform: scale(1.1);
    }

  }
}

.movie-title{
    text-align: center;
    color: rgb(116, 31, 31);
    font-family:Garamond;
    font-size: 1.3em;
}

.delete-movie{
    float: right;
    cursor: pointer;
    &:hover{
        opacity: 0.6;
    }
}